
body {
    display: flex;
    background-image: linear-gradient(to top left, #f598a8, #f6edb2);
    background-size: 200% 4000px;
    animation: gradient 10s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 50% 50%;
    }
}